@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700');

body{
  font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	}
.hero-area{
background-image:url(assets/img/bg.svg);
background-position:right top ;
background-size:;
background-repeat: no-repeat;
height:600px;
background-attachment: fixed;
position:relative;

}
.header-top{
    width:100%;
    height:50px;
    background-color:#3D3B53;

}
.header-top h1{
    color:#fff;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.menu{
    float:right;
    margin-top: 9px;
}

.menu nav ul {
    padding-top:6px;
}

.menu nav ul li {
    list-style: none;
    display: inline-block;
}

.menu nav ul li a {
    padding: 10px;
    text-decoration: none;
    color:#fff;
    font-weight:bold;

    
}
.menu nav ul li a:hover{

    color: #72e0ab;

}


.hero-text h1{
  text-align:right: ;
  position: absolute;
  top:26%;
  left:6%;
  color:#3D3B53;
  font-size:55px;
  font-weight:bold;

 
}
.hero-text h2{
  text-align:right: ;
  position: absolute;
  top: 51%;
  left:6%;
  color:#3D3B53;
  font-size:20px;
 
}

.btn {
    color:#fff;
    display:inline-block;
    width:150px;
    border:1px solid black;
    margin-top:10px;
    text-transform:uppercase;
    text-decoration:none;
    background:#38D39F;
    margin-left:20px;
    font-weight:bold;


}


.btn:hover {
   
    color: black;
    background: #72e0ab;
   
}
.hero_btn{
    position:absolute;
    top:60%;
    left:7%
}


.sidenav {
  height: 100%;
  width:200px;
  position: absolute;
  z-index: 1;
  top: 49px;
  left: 0;
  background-color: #3D3B53;
  overflow-x: hidden;
  padding-top:70px;

}

.sidenav a {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #38D39F;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table{
 
  width: 80%;
  color: red;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 220px;
  border:1px solid black;

}
th{
background-color: #588c7e;
color: white;
 border:1px solid black;

}

td{

 color: black;
 border:1px solid black;

}
.Dashboard
{
  margin-left:48%;
  color:#38D39F;
  padding-top:20px;
}

.Balance
{
   margin-left: 14%;
   color: black;

}
.pay
{
  margin-left: 13%;

}
/* Patient_add_appointment*/
.Appointment{
  text-align: center;
  margin-right: 10%; 
  color:#38D39F;

}
.container pricebox{

}
.dateclass{
  padding:20px;
}


.pricebox
{
 border-collapse: collapse;
  width: 40%;
  color: black;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 25%;
  border:1px solid black;
   
}
#grandtotal
{
  text-align: center;
  width:13%;
  margin-left: 4%;
  color: #d96459;
}
.dateclass
{
  border-collapse: collapse;
  text-align: center;
  margin-right: 10%;
  width: 40%;
  border:1px solid black;
}
.bg
{
  background-color: #72e0ab;
  color: white;
}
.Email
{
  width: 75%;
}
.logged
{
  float: right;
   border:1px solid black;
   color: red;
}
.category
{
  color:red;
}
/* contact area style start */
.contact-form {
    box-shadow: 0px 0px 10px #c3c3c3;
    padding: 20px;
  

}

.contact-form textarea {height: 200px;width: 96%;margin-left: 2%;}

.contact-form input[type='button'] {
    margin-left: 2%;
    border: none;
    background: #72e0ab;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.contact-content h5 {
    font-size: 15px;
    margin-top: 10px;
}

.contact-content p {
    font-size: 12px;
    color: #7b7b7b;
}

.contact-content i {
    color: #72e0ab;
    font-size: 20px;
}

.contact-content {
    margin-bottom: 25px;
}
.contact-content h5 {
    font-size: 15px;
    margin-top: 10px;
}

.contact-content p {
    font-size: 12px;
    color: #7b7b7b;
}

.contact-content i {
    color: #72e0ab;
    font-size: 20px;
}

.contact-content {
    margin-bottom: 25px;
    margin-top: 20%;
}
/* contact area style end  */


/* about Course area style start */
.about-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top:20px;
   

}
.about-title h2{
   font-size:36px;
   color:#38D39F;

}

.about-title p.line1 {
    width: 300px;
    height: 2px;
    background: #00BCD4;
    margin: auto;
    margin-top:10px;
}

.about-title p.line2 {
    height: 2px;
    width: 230px;
    background: #222;
    margin: 15px auto;
}

.about-img img {
    width: 100%;
    height: 400px;
    transition: .3s;
    border-radius:20px;
}
.about-img img:hover {
    box-shadow: 0px 0px 30px #38D39F;
}
.about-content p{
    font-family: 'Pridi', serif;
    font-size:18px;

}

/* about Course area style end */

.login-box{
  border:1px solid #38D39F;
  padding-bottom:20px;
  border-radius:10px;
}

.logo h1{
  color:#38D39F;
}
.logo a{
  text-decoration:none;
} 
.deshboard-img{
 margin-left:150px;
 margin-top:-58px;
}
.deshboard-img img{
  width:65%;
  margin-left:90px;
}
.check-balance{
  margin-left: 100px;

}
.balance-img img{
  width:60%;
  margin-left:100px 
}
.input-form label{
  width:122px;
}
.input-form input{
 
  margin:5px 0;
  border:1px solid #38D39F;
  border-radius:5px;
} 

.login-btn{
  margin-top:30px;

}
.user-form input{
  border:1px solid #38D39F;
  width:60%;
  border-radius: 5px;
}
.input-form select{
  border:1px solid #38D39F;
  margin-top:4px;
  width:53%;
  padding-top:6px;
  border-radius:5px;
}